<div class="home-carousel">

    <div class="dark-mask"></div>

    <div class="container">
        <div class="homepage owl-carousel">
            {% for post in posts %}
            <div class="item">
                <div class="row">
                    <div class="col-sm-5 right">
                        {% if post.gambar_saja != 1 %}
                            <h1>{{ post.judul }}</h1>
                            <p>{{ post.deskripsi01 }}</p>
                            {% if post.deskripsi02 %}
                            <p>{{ post.deskripsi02 }}</p>
                            {% endif %}
                            {% if post.deskripsi03 %}
                            <p>{{ post.deskripsi03 }}</p>
                            {% endif %}
                        {% else %}
                            &nbsp;<!-- GAMBARsajaMODE -->
                        {% endif %}
                        {% if post.link and post.link != '#' %}
                        <a class="btn btn-default btn-md" href="{{ post.link }}">
                            <i class="fa fa-link"></i> Lebih Lanjut
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-sm-7">
                        <img class="img-responsive" src="{{ post.gambarHeader.path | resize(650, 356) }}" alt="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.project owl-slider -->
    </div>
</div>
