<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for post in posts %}
        <li data-target="#mycarousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0==0 %}class="active"
            {% endif %}></li>
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for post in posts %}
        <div class="item {% if loop.index0==0 %}active{% endif %}">
            <img src="{{ post.gambar_header.getPath() }}" alt="{{ post.judul }}">
            <div class="carousel-caption">
                <h3>{{ post.judul }}</h3>
                <p>{{ post.deskripsi01 }}</p>
                {% if post.deskripsi02 %}
                <p>{{ post.deskripsi02 }}</p>
                {% endif %}
                {% if post.deskripsi03 %}
                <p>{{ post.deskripsi03 }}</p>
                {% endif %}
                {% if post.link and post.link != '#' %}
                <a class="btn btn-default btn-md" href="{{ post.link }}">
                    <i class="fa fa-link"></i> Lebih Lanjut
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#mycarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mycarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>